<div class='tile is-parent'>
  <div class='tile is-vertical is-child box'>
    <a href='/accomodation/{{ accomodation.name }}' class='title'>{{ accomodation.name }}</a>
      <p>Capacity: {{ accomodation.total_room if accomodation.total_room else 'N/A' }}</p>
      <p>Type: {{ accomodation.type if accomodation.type else 'N/A' }}</p>
      <p>Services:{{ ' N/A' if not accomodation.services else '' }}</p>
        {% if accomodation.services %}
        <ul>
        {% for service in accomodation.services %}
          <li>{{ service }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <p>Contact: {{ accomodation.owner.mail }}</p> 
    </ul>
  </div>
</div>
